:root {
  --background-primary: #f5f7f5;
  --background-secondary: #ffffff;

  --color-text-primary: #111814;
  --color-text-secondary: #82a18d;

  --color-primary: #13ec5b;
  --color-primary-light: #e6fced;

  --border: #e0e8e2;
  --shadow: rgba(19, 236, 91, 0.3);
  --shadow-2: rgba(0, 0, 0, 0.3);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
a,
span {
  font-family: "Roboto", sans-serif;
}

.container-hero {
  background: linear-gradient(
    113deg,
    rgba(235, 237, 235, 1) 0%,
    rgba(211, 245, 221, 1) 100%
  );
  padding-bottom: 5rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    padding: 0.5rem 0;

    .container-title-header {
      a {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        text-decoration: none;

        h1 {
          color: var(--color-text-primary);
          font-size: 1.6rem;
        }

        svg {
          color: var(--color-primary);
        }
      }

      .svg-menu {
        display: none;
      }
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: var(--color-text-primary);
            padding: 0.5rem 0.8rem;
            border: 1px solid transparent;
            border-radius: 10px;
            transition: 0.3s ease-in-out;

            &:hover {
              border: 1px solid var(--color-primary);
              color: var(--color-primary);
            }
          }
        }
      }
    }

    .container-register {
      display: flex;
      align-items: center;
      gap: 0.4rem;

      a {
        text-decoration: none;
        color: var(--color-text-primary);
        padding: 0.5rem 0.8rem;
        border-radius: 10px;
      }

      .login {
        transition: 0.3s ease-in-out;
        border: 1px solid transparent;

        &:hover {
          background-color: #f0f5f2;
        }
      }

      .register {
        background-color: var(--color-primary);
        border: 1px solid transparent;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: var(--color-primary-light);
          border: 1px solid var(--color-primary);
        }
      }
    }

    .container-register-desktop {
      display: flex;
      align-items: center;
      gap: 0.4rem;

      a {
        text-decoration: none;
        color: var(--color-text-primary);
        padding: 0.5rem 0.8rem;
        border-radius: 10px;
      }

      .login {
        transition: 0.3s ease-in-out;
        border: 1px solid transparent;

        &:hover {
          background-color: #f0f5f2;
        }
      }

      .register {
        background-color: var(--color-primary);
        border: 1px solid transparent;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: var(--color-primary-light);
          border: 1px solid var(--color-primary);
        }
      }
    }
  }

  .hero {
    width: 80%;
    margin: auto;
    padding: 5rem 0;
    display: flex;
    gap: 3rem;

    .container-text-hero {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .container-svg-text {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--border);
        padding: 0.3rem 0.8rem;
        border: 1px solid var(--color-primary);
        border-radius: 20px;
        width: 31%;

        svg {
          color: var(--color-primary);
        }

        p {
          color: var(--color-primary);
        }
      }

      h2 {
        font-size: 5rem;
        color: var(--color-text-primary);

        span {
          color: var(--color-primary);
        }
      }

      .subtitle {
        color: var(--color-text-secondary);
        font-size: 1.2rem;
      }

      .container-buttons-hero {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
          display: flex;
          align-items: center;
          gap: 0.6rem;
          text-decoration: none;
          color: var(--color-text-primary);
          border-radius: 10px;
          padding: 0.6rem 1rem;
          box-shadow: 0 5px 15px -4px var(--shadow);
          border: 1px solid transparent;
        }

        .gratis {
          background-color: var(--color-primary);
          transition: 0.3s ease-in-out;

          svg {
            transition: 0.3s ease-in-out;
          }

          &:hover {
            border: 1px solid var(--color-primary);
            background-color: var(--color-primary-light);

            svg {
              transform: translateX(5px);
            }
          }
        }

        .demo {
          background-color: var(--background-secondary);
          transition: 0.3s ease-in-out;

          svg {
            transition: 0.3s ease-in-out;
          }

          &:hover {
            border: 1px solid var(--color-primary);
            svg {
              transform: translateX(5px);
            }
          }
        }
      }

      .container-usuarios {
        display: flex;
        align-items: center;
        gap: 4rem;

        .container-img {
          display: flex;
          position: relative;

          img {
            width: 2.5rem;
            border: 2px solid var(--background-secondary);
            border-radius: 50%;
          }

          .img-2 {
            position: absolute;
            top: 0;
            left: 22px;
          }

          .img-3 {
            position: absolute;
            top: 0;
            left: 45px;
          }
        }

        .text-user {
          font-weight: 400;
          span {
            font-weight: 600;
          }
        }
      }
    }

    .container-datos-hero {
      background-color: var(--background-secondary);
      padding: 1.5rem;
      border-radius: 30px 0 30px 0;
      box-shadow: 0 5px 15px -4px var(--shadow-2);
      position: relative;

      .container-title-datos {
        display: flex;
        align-items: center;
        gap: 15rem;

        .container-precio {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          .title {
            text-wrap: nowrap;
            color: var(--color-text-secondary);
            letter-spacing: 2px;
          }

          .price {
            font-size: 2rem;
          }
        }

        .porcentaje {
          display: flex;
          align-items: center;
          gap: 0.2rem;

          background-color: var(--color-primary-light);
          color: var(--color-primary);
          padding: 0.3rem 0.7rem;
          border-radius: 10px;
        }
      }

      .container-bars {
        display: flex;
        align-items: end;
        gap: 0.5rem;
        padding: 1rem;
        background-color: #f9fafb;
        border: 1px solid var(--border);
        border-radius: 15px;
        margin: 1rem 0;

        .bar {
          width: 4rem;
          border-radius: 5px 5px 0 0;
          position: relative;

          .dato-mes {
            position: absolute;
            top: -30px;
            left: 10px;

            background-color: var(--color-text-primary);
            color: var(--background-secondary);
            padding: 0.2rem 0.3rem;
            opacity: 0;
            border-radius: 5px;
            transition: 0.3s ease-in-out;

            p {
              font-size: 0.8rem;
            }
          }
        }

        .bar-1 {
          height: 4rem;
          background-color: #cbf7da;

          &:hover {
            .dato-mes {
              opacity: 1;
              z-index: 10;
            }
          }
        }

        .bar-2 {
          height: 6rem;
          background-color: #9df5ba;

          &:hover {
            .dato-mes {
              opacity: 1;
              z-index: 10;
            }
          }
        }

        .bar-3 {
          height: 3.5rem;
          background-color: #e1f8ea;

          &:hover {
            .dato-mes {
              opacity: 1;
              z-index: 10;
            }
          }
        }

        .bar-4 {
          height: 7rem;
          background-color: #6ff29b;

          &:hover {
            .dato-mes {
              opacity: 1;
              z-index: 10;
            }
          }
        }

        .bar-5 {
          height: 6rem;
          background-color: #13ed5c;

          &:hover {
            .dato-mes {
              opacity: 1;
              z-index: 10;
            }
          }
        }

        .bar-6 {
          height: 6.5rem;
          background-color: #b3f5c9;

          &:hover {
            .dato-mes {
              opacity: 1;
              z-index: 10;
            }
          }
        }

        .bar-7 {
          height: 8rem;
          background-color: #41f07b;

          &:hover {
            .dato-mes {
              opacity: 1;
              z-index: 10;
            }
          }
        }
      }
    }

    .container-investment {
      display: flex;
      align-items: center;
      gap: 1rem;

      background-color: #f7f9fa;
      padding: 1rem;
      border-radius: 10px;
      margin-bottom: 1rem;

      svg {
        height: 2.5rem;
        width: 2.5rem;
        padding: 0.4rem;
        border-radius: 5px;
      }

      .svg-1 {
        color: #2664eb;
        background-color: #dbebff;
      }

      .svg-2 {
        color: #15a349;
        background-color: #dcfce7;
      }

      .container-texto {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .container-title {
          .ingreso {
            font-weight: 300;
          }
        }

        .price {
          .price-1 {
            color: #f26161;
          }

          .price-2 {
            color: var(--color-primary);
          }
        }
      }
    }

    .container-meta {
      display: flex;
      align-items: center;
      gap: 1rem;

      padding: 1.5rem 1rem;
      border-radius: 15px;
      background-color: var(--background-secondary);
      box-shadow: 0 5px 15px -4px var(--shadow-2);

      position: absolute;
      top: -40px;
      left: 400px;

      svg {
        height: 2.5rem;
        width: 2.5rem;
        padding: 0.4rem;
        border-radius: 5px;
        background-color: #ffedd5;
        color: #eb580e;
      }

      .meta-title {
        p {
          text-wrap: nowrap;
        }
      }
    }

    .container-cifrado {
      display: flex;
      align-items: center;
      gap: 0.7rem;

      padding: 0.5rem;
      border-radius: 15px;
      color: var(--background-secondary);
      background-color: var(--color-text-primary);
      box-shadow: 0 5px 15px -4px var(--shadow-2);

      position: absolute;
      top: 450px;
      left: -60px;

      svg {
        height: 2.5rem;
        width: 2.5rem;
        padding: 0.4rem;
        border-radius: 5px;
        color: var(--color-primary);
      }
    }
  }

  .container-grid-datos {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 3rem;

    padding: 1rem;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);

    .datos-card {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: var(--background-secondary);
        border-radius: 10px;
      }

      svg {
        color: var(--color-primary);
      }

      h4 {
        color: var(--color-text-primary);
        font-size: 1.2rem;
      }

      p {
        color: var(--color-text-secondary);
      }
    }
  }
}

/* Hero y nav móvil */

@media screen and (max-width: 430px) {
  .container-hero {
    header {
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 1px solid var(--color-primary);

      .container-title-header {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .svg-menu {
          display: block;
          color: var(--color-primary);
          width: 2rem;
          height: 2rem;
        }
      }

      .nav-open {
        opacity: 1;
        max-height: 500px;
        transform: translateY(0px);
        padding: 1rem 0;
        transition: 0.3s ease;

        ul {
          flex-direction: column;
          align-items: self-start;
          gap: 1rem;
          transition: 0.3s ease;

          li {
            transition: 0.3s ease;
            a {
              font-size: 1.3rem;
              transition: 0.3s ease;
            }
          }
        }
      }

      .nav-close {
        opacity: 0;
        max-height: 0;
        transform: translateY(-500px);
        transition: 0.3s ease;

        ul {
          flex-direction: column;
          align-items: self-start;
          gap: 1rem;
          transition: 0.3s ease;

          li {
            transition: 0.3s ease;
            a {
              font-size: 1.3rem;
              transition: 0.3s ease;
            }
          }
        }
      }

      .container-register {
        opacity: 1;
        max-height: 500px;
        transform: translateY(0px);
        transition: 0.3s ease;
        margin-bottom: 1rem;

        a {
          font-size: 1.3rem;
        }
      }

      .container-register-close {
        opacity: 0;
        max-height: 0;
        transform: translateY(-500px);
        transition: 0.3s ease;
      }
    }

    .hero {
      width: 90%;
      flex-direction: column;

      .container-text-hero {
        .container-svg-text {
          width: 75%;
        }
      }

      .container-datos-hero {
        .container-title-datos {
          gap: 5rem;
        }

        .container-meta {
          top: -40px;
          left: 185px;
        }

        .container-cifrado {
          top: 450px;
          left: -10px;
        }
      }
    }

    .container-grid-datos {
      width: 90%;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

/* Hero y nav móvil xxs */

@media screen and (max-width: 320px) and (max-width: 375px) {
  .container-hero {
    .hero {
      .container-text-hero {
        .container-svg-text {
          width: 90%;
        }
      }

      .container-datos-hero {
        .container-title-datos {
          flex-direction: column;
          gap: 1rem;
        }

        .container-meta {
          top: 550px;
          left: 40px;
          z-index: 10;
        }

        .container-cifrado {
          top: 510px;
          left: 20px;
        }
      }
    }
  }
}

/* Hero y nav móvil xs */

@media screen and (max-width: 376px) and (max-width: 429px) {
  .container-hero {
    .hero {
      .container-text-hero {
        .container-svg-text {
          width: 90%;
        }
      }

      .container-datos-hero {
        .container-title-datos {
          gap: 2rem;
        }

        .container-meta {
          top: -40px;
          left: 135px;
        }

        .container-cifrado {
          top: 450px;
          left: 20px;
        }
      }
    }
  }
}

/* Hero y nav tablet */

@media screen and (min-width: 431px) and (max-width: 1366px) {
  .container-hero {
    .hero {
      width: 90%;
      flex-direction: column;

      .container-datos-hero {
        .container-meta {
          top: -40px;
          left: 750px;
        }

        .container-cifrado {
          top: 450px;
          left: -25px;
        }
      }
    }

    .container-grid-datos {
      width: 90%;
    }
  }
}

/* Hero y nav tablet xs */

@media screen and (min-width: 431px) and (max-width: 768px) {
  .container-hero {
    .hero {
      .container-datos-hero {
        .container-meta {
          top: -40px;
          left: 505px;
        }

        .container-cifrado {
          top: 450px;
          left: -15px;
        }
      }
    }
  }
}

/* Sección 1 */

.seccion-1 {
  background-color: var(--background-primary);
  padding: 4rem 0;

  .container-seccion-1 {
    width: 80%;
    margin: auto;

    .container-title-subtile {
      text-align: center;

      span {
        background-color: #c9f5d7;
        padding: 0.4rem 1rem;
        border-radius: 20px;
        color: #51b071;
      }

      h3 {
        font-size: 3rem;
        padding: 1rem 0;
        color: var(--color-text-primary);
      }

      p {
        color: var(--color-text-secondary);
      }
    }

    .container-grid-card-caracteristicas {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 2rem;
      padding: 2rem 0;

      .card-caracteristicas {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        background-color: var(--background-secondary);
        border: 1px solid var(--border);
        border-radius: 10px;
        padding: 1rem;
        box-shadow: 0 5px 15px -4px var(--shadow-2);
        transition: 0.3s ease-in-out;

        svg {
          color: var(--color-primary);
        }

        .svg-card {
          width: 2.5rem;
          height: 2.5rem;
          padding: 0.6rem;
          background-color: var(--color-primary-light);
          border-radius: 10px;
        }

        h4 {
          color: var(--color-text-primary);
        }

        p {
          color: var(--color-text-secondary);
        }

        .contaier-link-ver {
          display: flex;
          align-items: center;
          gap: 0.6rem;
          text-decoration: none;
          color: var(--color-primary);
          transition: 0.3s ease-in-out;

          svg {
            transition: 0.3s ease-in-out;
          }

          &:hover {
            text-decoration: underline;

            svg {
              transform: translateX(5px);
            }
          }
        }

        &:hover {
          border: 1px solid var(--color-primary);
          box-shadow: 0 5px 15px -4px var(--shadow);
        }
      }
    }

    .container-construir {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      background-color: #0f2416;
      text-align: center;
      padding: 6rem 0;
      border-radius: 20px;
      margin-top: 4rem;

      h3 {
        font-size: 2.5rem;
        color: var(--background-secondary);
      }

      p {
        color: #727c82;
      }

      .container-buttons-construir {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        a {
          text-decoration: none;
          padding: 0.6rem 1rem;
        }

        .button-cuenta {
          background-color: var(--color-primary);
          color: var(--color-text-primary);
          border: 1px solid var(--color-primary);
          border-radius: 10px;
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: var(--color-primary-light);
            color: var(--color-primary);
          }
        }

        .button-venta {
          background: rgba(255, 255, 255, 0.2);
          border-radius: 10px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgba(255, 255, 255, 0.3);
          background: rgba(255, 255, 255, 0.2);
          border-radius: 10px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgba(255, 255, 255, 0.3);
          color: var(--background-secondary);
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: var(--color-primary);
            color: var(--color-text-primary);
          }
        }
      }
    }
  }
}

/* Sección 1 móvil */

@media screen and (max-width: 430px) {
  .seccion-1 {
    .container-seccion-1 {
      width: 90%;

      .container-grid-card-caracteristicas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
      }

      .container-construir {
        padding: 3rem 0;

        h3 {
          text-wrap: balance;
        }
      }
    }
  }
}

/* Sección 2 */

.seccion-2 {
  background-color: var(--background-primary);
  padding: 4rem 0;

  .container-seccion-2 {
    width: 80%;
    margin: auto;

    .container-title-comunidad {
      text-align: center;

      span {
        color: var(--color-primary);
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 2.5rem;
        color: var(--color-text-primary);
      }
    }

    .container-grid-comunidad {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 1rem;
      padding: 2rem 0;

      .card-comunidad {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        background-color: var(--background-secondary);
        padding: 1rem;
        border: 1px solid var(--border);
        border-radius: 10px;
        transition: 0.3s ease-in-out;

        svg {
          color: var(--color-primary);
        }

        .container-img-text {
          display: flex;
          align-items: center;
          gap: 1rem;

          img {
            width: 3rem;
            border: 2px solid var(--color-primary);
            border-radius: 50%;
          }

          .conteiner-text-perfil {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;

            .title {
              display: flex;
              align-items: center;
              gap: 0.3rem;
            }

            .cargo {
              color: var(--color-text-secondary);
              font-weight: 300;
            }
          }
        }

        &:hover {
          border: 1px solid var(--color-primary);
        }
      }
    }

    .container-title-industria {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      padding: 2rem 0;

      .linea {
        height: 1px;
        width: 100%;
        background-color: var(--border);
      }

      p {
        text-wrap: nowrap;
        font-size: 1.2rem;
        color: var(--color-text-secondary);
        letter-spacing: 2px;
      }
    }

    .container-grid-lideres {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      gap: 1rem;

      color: #6f706f;
      padding-top: 2rem;

      .card-lider {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        padding: 2rem 0;
        background-color: var(--background-secondary);
        border: 1px solid var(--border);
        border-radius: 10px;
        transition: 0.3s ease-in-out;

        svg {
          transition: 0.3s ease-in-out;
        }

        &:hover {
          border: 1px solid var(--color-primary);

          svg {
            color: var(--color-primary);
          }
        }
      }
    }
  }
}
