:root {
  --background-primary: #f5f7f5;
  --background-secondary: #ffffff;

  --color-text-primary: #111814;
  --color-text-secondary: #82a18d;

  --color-primary: #13ec5b;
  --color-primary-light: #e6fced;

  --border: #e0e8e2;
  --shadow: rgba(19, 236, 91, 0.3);
  --shadow-2: rgba(0, 0, 0, 0.3);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
a {
  font-family: "Roboto", sans-serif;
}

.container-hero {
  background: linear-gradient(
    113deg,
    rgba(235, 237, 235, 1) 0%,
    rgba(211, 245, 221, 1) 100%
  );
  padding-bottom: 5rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    padding: 0.5rem 0;

    .container-title-header {
      a {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        text-decoration: none;

        h1 {
          color: var(--color-text-primary);
          font-size: 1.6rem;
        }

        svg {
          color: var(--color-primary);
        }
      }

      .svg-menu {
        display: none;
      }
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: var(--color-text-primary);
            padding: 0.5rem 0.8rem;
            border: 1px solid transparent;
            border-radius: 10px;
            transition: 0.3s ease-in-out;

            &:hover {
              border: 1px solid var(--color-primary);
              color: var(--color-primary);
            }
          }
        }
      }
    }

    .container-register {
      display: flex;
      align-items: center;
      gap: 0.4rem;

      a {
        text-decoration: none;
        color: var(--color-text-primary);
        padding: 0.5rem 0.8rem;
        border-radius: 10px;
      }

      .login {
        transition: 0.3s ease-in-out;
        border: 1px solid transparent;

        &:hover {
          background-color: #f0f5f2;
        }
      }

      .register {
        background-color: var(--color-primary);
        border: 1px solid transparent;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: var(--color-primary-light);
          border: 1px solid var(--color-primary);
        }
      }
    }
  }

  .hero {
    width: 80%;
    margin: auto;
    padding: 5rem 0;
    display: flex;
    gap: 3rem;

    .container-text-hero {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .container-svg-text {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--border);
        padding: 0.3rem 0.8rem;
        border: 1px solid var(--color-primary);
        border-radius: 20px;
        width: 31%;

        svg {
          color: var(--color-primary);
        }

        p {
          color: var(--color-primary);
        }
      }

      h2 {
        font-size: 5rem;
        color: var(--color-text-primary);

        span {
          color: var(--color-primary);
        }
      }

      .subtitle {
        color: var(--color-text-secondary);
        font-size: 1.2rem;
      }

      .container-buttons-hero {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
          display: flex;
          align-items: center;
          gap: 0.6rem;
          text-decoration: none;
          color: var(--color-text-primary);
          border-radius: 10px;
          padding: 0.6rem 1rem;
          box-shadow: 0 5px 15px -4px var(--shadow);
          border: 1px solid transparent;
        }

        .gratis {
          background-color: var(--color-primary);
          transition: 0.3s ease-in-out;

          svg {
            transition: 0.3s ease-in-out;
          }

          &:hover {
            border: 1px solid var(--color-primary);
            background-color: var(--color-primary-light);

            svg {
              transform: translateX(5px);
            }
          }
        }

        .demo {
          background-color: var(--background-secondary);
          transition: 0.3s ease-in-out;

          svg {
            transition: 0.3s ease-in-out;
          }

          &:hover {
            border: 1px solid var(--color-primary);
            svg {
              transform: translateX(5px);
            }
          }
        }
      }

      .container-usuarios {
        display: flex;
        align-items: center;
        gap: 4rem;

        .container-img {
          display: flex;
          position: relative;

          img {
            width: 2.5rem;
            border: 2px solid var(--background-secondary);
            border-radius: 50%;
          }

          .img-2 {
            position: absolute;
            top: 0;
            left: 22px;
          }

          .img-3 {
            position: absolute;
            top: 0;
            left: 45px;
          }
        }

        .text-user {
          font-weight: 400;
          span {
            font-weight: 600;
          }
        }
      }
    }

    .container-datos-hero {
      background-color: var(--background-secondary);
      padding: 1.5rem;
      border-radius: 30px 0 30px 0;
      box-shadow: 0 5px 15px -4px var(--shadow-2);
      position: relative;

      .container-title-datos {
        display: flex;
        align-items: center;
        gap: 15rem;

        .container-precio {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          .title {
            text-wrap: nowrap;
            color: var(--color-text-secondary);
            letter-spacing: 2px;
          }

          .price {
            font-size: 2rem;
          }
        }

        .porcentaje {
          display: flex;
          align-items: center;
          gap: 0.2rem;

          background-color: var(--color-primary-light);
          color: var(--color-primary);
          padding: 0.3rem 0.7rem;
          border-radius: 10px;
        }
      }

      .container-bars {
        display: flex;
        align-items: end;
        gap: 0.5rem;
        padding: 1rem;
        background-color: #f9fafb;
        border: 1px solid var(--border);
        border-radius: 15px;
        margin: 1rem 0;

        .bar {
          width: 4rem;
          border-radius: 5px 5px 0 0;
        }

        .bar-1 {
          height: 4rem;
          background-color: #cbf7da;
        }

        .bar-2 {
          height: 6rem;
          background-color: #9df5ba;
        }

        .bar-3 {
          height: 3.5rem;
          background-color: #e1f8ea;
        }

        .bar-4 {
          height: 7rem;
          background-color: #6ff29b;
        }

        .bar-5 {
          height: 6rem;
          background-color: #13ed5c;
        }

        .bar-6 {
          height: 6.5rem;
          background-color: #b3f5c9;
        }

        .bar-7 {
          height: 8rem;
          background-color: #41f07b;
        }
      }
    }

    .container-investment {
      display: flex;
      align-items: center;
      gap: 1rem;

      background-color: #f7f9fa;
      padding: 1rem;
      border-radius: 10px;
      margin-bottom: 1rem;

      svg {
        height: 2.5rem;
        width: 2.5rem;
        padding: 0.4rem;
        border-radius: 5px;
      }

      .svg-1 {
        color: #2664eb;
        background-color: #dbebff;
      }

      .svg-2 {
        color: #15a349;
        background-color: #dcfce7;
      }

      .container-texto {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .container-title {
          .ingreso {
            font-weight: 300;
          }
        }

        .price {
          .price-1 {
            color: #f26161;
          }

          .price-2 {
            color: var(--color-primary);
          }
        }
      }
    }

    .container-meta {
      display: flex;
      align-items: center;
      gap: 1rem;

      padding: 1.5rem 1rem;
      border-radius: 15px;
      background-color: var(--background-secondary);
      box-shadow: 0 5px 15px -4px var(--shadow-2);

      position: absolute;
      top: -40px;
      left: 400px;

      svg {
        height: 2.5rem;
        width: 2.5rem;
        padding: 0.4rem;
        border-radius: 5px;
        background-color: #ffedd5;
        color: #eb580e;
      }

      .meta-title {
        p {
          text-wrap: nowrap;
        }
      }
    }

    .container-cifrado {
      display: flex;
      align-items: center;
      gap: 0.7rem;

      padding: 0.5rem;
      border-radius: 15px;
      color: var(--background-secondary);
      background-color: var(--color-text-primary);
      box-shadow: 0 5px 15px -4px var(--shadow-2);

      position: absolute;
      top: 450px;
      left: -60px;

      svg {
        height: 2.5rem;
        width: 2.5rem;
        padding: 0.4rem;
        border-radius: 5px;
        color: var(--color-primary);
      }
    }
  }

  .container-grid-datos {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 3rem;

    padding: 1rem;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);

    .datos-card {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      svg {
        color: var(--color-primary);
      }

      h3 {
        color: var(--color-text-primary);
      }

      p {
        color: var(--color-text-secondary);
      }
    }
  }
}

/* Hero y nav móvil */

@media screen and (max-width: 430px) {
  .container-hero {
    header {
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 1px solid var(--color-primary);

      .container-title-header {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .svg-menu {
          display: block;
          color: var(--color-primary);
          width: 2rem;
          height: 2rem;
        }
      }

      .nav-open {
        opacity: 1;
        max-height: 500px;
        transform: translateY(0px);
        transition: 0.3s ease;
        padding: 1rem 0;

        ul {
          flex-direction: column;
          align-items: self-start;
          gap: 1rem;

          li {
            a {
              font-size: 1.3rem;
            }
          }
        }
      }

      .nav-close {
        opacity: 0;
        max-height: 0;
        transform: translateY(-500px);
        transition: 0.3s ease;

        ul {
          flex-direction: column;
          align-items: self-start;
          gap: 1rem;

          li {
            a {
              font-size: 1.3rem;
            }
          }
        }
      }

      .container-register {
        opacity: 1;
        max-height: 500px;
        transform: translateY(0px);
        transition: 0.3s ease;
        margin-bottom: 1rem;

        a {
          font-size: 1.3rem;
        }
      }

      .container-register-close {
        opacity: 0;
        max-height: 0;
        transform: translateY(-500px);
        transition: 0.3s ease;
      }
    }

    .hero {
      width: 90%;
      flex-direction: column;

      .container-text-hero {
        .container-svg-text {
          width: 75%;
        }
      }

      .container-datos-hero {
        .container-title-datos {
          gap: 5rem;
        }

        .container-meta {
          top: -40px;
          left: 185px;
        }

        .container-cifrado {
          top: 450px;
          left: -10px;
        }
      }
    }

    .container-grid-datos {
      width: 90%;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

/* Hero y nav móvil xxs */

@media screen and (max-width: 320px) and (max-width: 375px) {
  .container-hero {
    .hero {
      .container-text-hero {
        .container-svg-text {
          width: 90%;
        }
      }

      .container-datos-hero {
        .container-title-datos {
          flex-direction: column;
          gap: 1rem;
        }

        .container-meta {
          top: 550px;
          left: 40px;
          z-index: 10;
        }

        .container-cifrado {
          top: 510px;
          left: 20px;
        }
      }
    }
  }
}

/* Hero y nav móvil xs */

@media screen and (max-width: 376px) and (max-width: 429px) {
  .container-hero {
    .hero {
      .container-text-hero {
        .container-svg-text {
          width: 90%;
        }
      }

      .container-datos-hero {
        .container-title-datos {
          gap: 2rem;
        }

        .container-meta {
          top: -40px;
          left: 135px;
        }

        .container-cifrado {
          top: 450px;
          left: 20px;
        }
      }
    }
  }
}

/* Hero y nav teblat */

@media screen and (min-width: 431px) and (max-width: 1366px) {
  .container-hero {
    .hero {
      width: 90%;
      flex-direction: column;

      .container-datos-hero {
        .container-meta {
          top: -40px;
          left: 750px;
        }

        .container-cifrado {
          top: 450px;
          left: -25px;
        }
      }
    }

    .container-grid-datos {
      width: 90%;
    }
  }
}

/* Hero y nav teblat xs */

@media screen and (min-width: 431px) and (max-width: 768px) {
  .container-hero {
    .hero {
      .container-datos-hero {
        .container-meta {
          top: -40px;
          left: 505px;
        }

        .container-cifrado {
          top: 450px;
          left: -15px;
        }
      }
    }
  }
}
